/*  
Theme Name:Hemingway Child
Version: 1.0
Theme URI: http://www.matthias-faller.de
Description: Child Theme for Hemingway
Author: Matthias Faller
Author URI: http://www.matthias-faller.de
Template: hemingway
License: GNU General Public License v2
License URI: http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
*/


/* Import layout */
@import url(../hemingway/style.css);

.simple-social-icons {
    overflow: hidden;
}

.simple-social-icons ul {
    margin: 0;
    padding: 0;
}

.simple-social-icons ul li {
    background: none !important;
    border: none !important;
    float: left;
    list-style-type: none !important;
    margin: 0 6px 12px !important;
    padding: 0 !important;
}

.simple-social-icons ul li a {
    border: none !important;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    font-family: 'fontello';
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1em;
    speak: none;
    text-align: center;
    text-decoration: none !important;
    text-transform: none !important;
    width: 1em;
}

.simple-social-icons ul.aligncenter {
    text-align: center;
}

.simple-social-icons ul.aligncenter li {
    display: inline-block;
    float: none;
}