
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-flickr:before { content: '\e804'; } /* '' */
.icon-github:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\e806'; } /* '' */
.icon-instagram:before { content: '\e807'; } /* '' */
.icon-linkedin:before { content: '\e808'; } /* '' */
.icon-xing:before { content: '\e809'; } /* '' */
.icon-pinterest:before { content: '\e80a'; } /* '' */
.icon-rss:before { content: '\e80b'; } /* '' */
.icon-stumbleupon:before { content: '\e80c'; } /* '' */
.icon-tumblr:before { content: '\e80d'; } /* '' */
.icon-vimeo:before { content: '\e80e'; } /* '' */
.icon-youtube:before { content: '\e80f'; } /* '' */
.icon-bitbucket:before { content: '\e810'; } /* '' */
.icon-reddit:before { content: '\e811'; } /* '' */
.icon-dribbble:before { content: '\e812'; } /* '' */
.icon-pinboard:before { content: '\e813'; } /* '' */